terraform {
  required_providers {
    libvirt = {
      source  = "dmacvicar/libvirt"
      version = ">= 0.8.1"
    }
    random = {
      source  = "hashicorp/random"
      version = ">= 3.6.3"
    }
    tls = {
      source  = "hashicorp/tls"
      version = ">= 4.0.6"
    }
    talos = {
      source  = "siderolabs/talos"
      version = ">= 0.7.0"
    }
  }
}

provider "libvirt" {
  uri = "qemu:///system"
}

module "libvirt_talos" {
  source = "github.com/bashfulrobot/libvirt-talos"

  cluster_name       = "darkstar"
  talos_version      = "1.9.0"
  kubernetes_version = "1.32.0"

  install_disk = "/dev/vda"

  cp_suffix    = "cp"
  cp_count     = 3
  cp_vcpus     = 4
  cp_memory    = 8192
  cp_disk_size = 20

  wk_suffix    = "wk"
  wk_count     = 2
  wk_vcpus     = 4
  wk_memory    = 8192
  wk_disk_size = 20

  kvm_subnet       = "172.16.160"
  kvm_cidr         = 24
  kvm_network_type = "route"

  cluster_endpoint = "https://172.16.160.10:6443"
}

output "talosconfig" {
  value     = module.libvirt_talos.talosconfig
  sensitive = true
}

output "kubeconfig" {
  value     = module.libvirt_talos.kubeconfig
  sensitive = true
}
